<ng-message when="invalidUsername" class="error">Invalid Username</ng-message>
<ng-message when="invalidUsernameAvailability" class="error">That username is not available</ng-message>
<ng-message when="invalidEmail" class="error">Please enter a valid email address</ng-message>
<ng-message when="invalidEmailAvailability" class="error">That email address is already registered</ng-message>
<ng-message when="invalidEmailAvailability2" class="error">That email address is already registered</ng-message>
<ng-message when="invalidLogin" class="error">Invalid Login</ng-message>
<ng-message when="required" class="error">This field is required</ng-message>
<ng-message when="maxlength" class="error">This field has reached the maximum length</ng-message>