<main class="wrapper wrapper--content">
  <section class="main">
    <h2>Website</h2>
    <div style="float:left;width:60%;">
      <form ng-submit="save()" class="form">
        <fieldset class="form__fieldset form__fieldset--box form__fieldset--box-top">
            <div class="form__field">
              <label>Hotel Name</label>
              <input ng-model="website.name" class="form__input">
            </div>
            <div class="form__field">
              <label>Hotel URL</label>
              <input ng-model="website.link" class="form__input">
            </div>
          </fieldset>
          <fieldset class="form__fieldset">
            <div class="form__field">
              <label>Emulator IP</label>
              <input ng-model="website.emu_ip" class="form__input">
            </div>
            <div class="form__field">
              <label>Emulator Port</label>
              <input ng-model="website.emu_port" class="form__input">
            </div>
          </fieldset>
          <fieldset class="form__fieldset form__fieldset--box form__fieldset--box-top">
              <div class="form__field">
                <label>Findretros Voting</label>
                <select ng-model="website.findretros" class="form__input">
                  <option value="1">Enabled</option>
                  <option value="0">Disabled</option>
                </select>
              </div>
              <div class="form__field">
                <label>Findretros Username</label>
                <input ng-model="website.fr_user" class="form__input">
              </div>
            </fieldset>
            <div class="form__footer">
              <button type="submit" class="form__submit">Save</button>
            </div>
          </form>
      </div>
  </secton>
</main>
