
<section id="tabs">
  <header class="rooms__header">
    <div class="rooms__header__container wrapper">
      <div class="rooms__header__content">
        <h1 class="rooms__header__title">Begin Your Experience</h1>
        <p>This should be an easy and fun process.</p>
      </div>
    </div>
  </header>

  <div class="wrapper wrapper--content">
    <section class="wrapper wrapper--content rooms-wrapper" style="float:left;">
      <div>
        <div style="float:left;width:40%;">
          <habbo-web-pages key="common/box_parents_guide" class="aside aside--box" style="width:100%;">
              <aside class="static-content">
                <h3>What now</h3>
                <p>Please follow the following set of instructions to personalize your experience.</p>
                <a ng-click="continue()"><button class="form__submit">Begin</button></a>
              </aside>
          </habbo-web-pages>
        </div>
      </div>
    </section>
  </div>
</section>
