<table class="droplet-listing">
    <thead>
        <tr>
            <th>
                <span class="headerText"> Title </span>
            </th>
            <th style="width:12.5%;">
                <span class="headerText"> Manage </span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="article in articles" class="done">
            <td class="name">
                <div class="ellipsis-text">
                    <div class="Resource    Resource--rightContext">
                        <div class="Resource-image ">
                            <div class="resource-icon droplet">
                                <img ng-src="/assets/img/articles/{{ article.image }}_thumb.png"> </div>
                        </div>
                        <div class="Resource-meta  ">
                            <div class="Resource-title">
                                {{ article.title }} {{ index }}
                            </div>
                            <div class="Resource-description">
                                Posted on
                                <b>{{ article.timestamp | date : 'mediumDate' }}</b> by
                                <b>{{ article.author.username }}</b>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <a ui-sref="admin.website.news.article.view({ id : article.id })">
                    <i class="fa fa-pencil"></i>
                </a>
                <a ng-click="delete(article.id)">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td></td> 
            <td>
                <a ui-sref="admin.website.news.article.create">
                    <i class="fa fa-plus-square"></i> Create
                </a>
            </td>
        </tr>
    </tbody>
</table>