<form >
    <div class="columns small-6">
        <div>
            <label>Title</label>
            <input ng-model="product.title" type="text">
        </div>
        <div>
            <label>Price</label>
            <input ng-model="product.price" type="text">
        </div>
        <div>
            <label>Description</label>
            <textarea ng-model="product.content"></textarea>
        </div>
    </div>
    <div class="columns small-6">
        <div>
            <label>Rank Group</label>
            <select ng-model="product.rank">
                <option ng-repeat="rank in ranks" value="{{ rank.id }}">{{ rank.rank_name }}</option>
            </select>
        </div>
        <div>
            <label>Boost Credits</label>
            <input ng-model="product.boost_credits" type="text">
        </div>

        <div>
            <label>Boost Pixels</label>
            <input ng-model="product.boost_pixels" type="text">
        </div>

        <div>
            <label>Boost Diamonds</label>
            <input ng-model="product.boost_points" type="text">
        </div>
        <div>
            <a ui-sref="admin.website.store.product.update({ id : product.id, product : product })" class="Button Button--blue Button--large Button--fullWidth ">Save</a>
        </div>
    </div>
</form>