<habbo-footer>
    <footer class="wrapper">
        <div class="footer__media">
            <p class="footer__media__label"> {{ $root.state.includes('client') }} Follow Habbo</p>
            <ul>
                <link>
                <li class="footer__media__item">
                    <a class="footer__media__link"><i class="icon icon--facebook"></i></a>
                </li>
                <li class="footer__media__item">
                    <a class="footer__media__link"><i class="icon icon--twitter"></i></a>
                </li>
                <li class="footer__media__item">
                    <a class="footer__media__link"><i class="icon icon--youtube"></i></a>
                </li>
                <li class="footer__media__item">
                    <a class="footer__media__link"><i class="icon icon--rss"></i></a>
                </li>
            </ul>
        </div>
        <div class="footer__content">
            <ul class="footer__nav">
                <li class="footer__nav__item">
                    <a ui-sref="me.about" class="footer__nav__link">About CMS</a>
                </li>
            </ul>
            <p class="footer__copyright"> Powered by Heroic Framework by LeChris <br> Built with Node and Angular <br> Shout out to Bill</p>
            <a id="footer_logo"></a>
        </div>
    </footer>
</habbo-footer>
