<habbo-navigation active="home">
    <nav class="navigation">
        <ul class="navigation__menu">
          <li ng-repeat="item in navigationList | orderBy: 'sort'" class="navigation__item navigation__link"ng-class="{'navigation__link--active': $root.state.includes(item.state.name)}" ng-click="(item.url == null) ? $root.state.go(item.state.name) : $root.state.go(item.url)"  style="color:#036;">
              <i class="fa fa-{{ item.icon }}"></i> {{ (item.name == 'current_username') ? $root.currentUser.user_name : item.name }}
          </li>
          <li class="navigation__item navigation__item--aside navigation__item--hotel">
              <habbo-hotel-button>
                <a sref="app.client" class="hotel-button" id="ga-linkid-hotel"><span class="hotel-button__text" >Enter Hotel <small style="font-size:10px;">{{ website.online }} online</small></span> </a>
              </habbo-hotel-button>
          </li>
        </ul>
    </nav>
</habbo-navigation>
<div class="wrapper"></div>
</habbo-header-small>
<habbo-tabs>
  <nav class="tabs">
    <ul class="tabs__menu" ng-repeat="item in navigationList | orderBy: 'sort'" ng-if="$root.state.includes(item.state.name)">
      <habbo-tab class="sub-list no-padding" ng-repeat="child in item.children">
        <li class="tab">
          <a class="tab__link" ng-class="{'tab__link--active': $root.state.includes(child.state.name)}" ng-click="(child.url == null) ? $root.state.go(child.state.name) : $root.state.go(child.url)">
            {{ child.name }}
          </a>
        </li>
      </habbo-tab>
    </ul>
  </nav>
</habbo-tabs>
