<main class="wrapper wrapper--content">
  <section class="main">
    <h2>Dashboard</h2>
    <div style="float:left;width:60%;">
      <habbo-message-container type="exclamation">
        <section class="message-container">
          <h3>Control Panel</h3>
          <p>Your hotel is now ready for users!</p>
        </section>
      </habbo-message-container>
      <habbo-web-pages key="common/box_parents_guide" class="aside aside--box" style="width:100%;">
          <aside class="static-content">
            <h3>Services</h3>
            <p> <b>Website:</b> <font color="green">ONLINE</font> </p>
            <p> <b>Emulator:</b> <font color="green">ONLINE</font> </p>
          </aside>
      </habbo-web-pages>
    </div>
  </secton>
</main>
