<div class="aurora-body">
    <div class="row">
        <div class="columns small-12">
            <h1>Emulator Management</h1>
        </div>
    </div>
    <div class="row">
        <div class="columns small-2">
            <nav class="SideNav settings-side-nav js-settings-side-nav">
                <ul class="List--noBullets">
                    <br>
                    <li>
                        <b>Features</b>
                    </li>
                    <li>
                        <a ui-sref="admin.emulator.users.search" ng-class="{'active': page.name.indexOf('admin.emulator.users') > -1}"
                            class="navLink">Hotel Users</a>
                    </li>
                    <li>
                        <a class="navLink">Rank Management</a>
                    </li>
                    <br>
                    <li>
                        <b>Additional Options</b>
                    </li>
                    <li>
                        <a class="navLink">Emulator Settings</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="columns small-10 settings" ui-view></div>
    </div>

</div>