<% include ../header %>

<section id="tabs">
  <header class="rooms__header">
    <div class="rooms__header__container wrapper">
      <div class="rooms__header__content">
        <h1 class="rooms__header__title">CMS Information</h1>
        <nav class="news-category__navigation">
            <ul class="news-category__list">
              <li class="news-category__item">
                <a href="#tab-1" class="news-category__link">Developers</a>
              </li>
              <li class="news-category__item">
                <a href="#tab-2" class="news-category__link">Build Information</a>
              </li>
            </ul>
        </nav>
      </div>
    </div>
  </header>

  <div class="wrapper wrapper--content">
    <section class="wrapper wrapper--content rooms-wrapper" style="float:left;">
      <div id="tab-1">
        <article class="news-header news-header--column" style="height: 0px;margin-bottom: 0px;min-height: 0px;"></article>
        <article class="news-header news-header--column" style="height: 0px;margin-bottom: 0px;min-height: 0px;"></article>
        <article class="news-header news-header--column">
            <a class="news-header__link news-header__banner">
                <figure class="news-header__viewport" style="border-radius:50%">
                    <img src="/img/staff.png" class="news-header__image news-header__image--thumbnail" style="opacity:.5;">
                    <div class="staff_avatar" style="background: url(<%= website.figure_imager %>?figure=ch-215-62.sh-3068-62-62.hr-893-1041.ca-1804-64.lg-3088-1195-1193.hd-3092-1&amp;direction=2&amp;head_direction=3&amp;gesture=sml&amp;size=l);height: 124px;width: 110px;top: 0px;z-index: 9000;position: absolute;background-position: -8px -17px;"></div>
                </figure>
            </a>
            <a class="news-header__link news-header__wrapper">
                <h2 class="news-header__title">LeChris</h2>
            </a>
            <aside class="news-header__wrapper news-header__info">
                <ul class="news-header__categories">
                    <li class="news-header__category">
                      <a class="news-header__category__link">CMS Developer</a>
                    </li>
                </ul>
            </aside>
        </article>
      </div>
      <div id="tab-2">
        <habbo-web-pages key="common/box_parents_guide" class="aside aside--box aside--fixed">
            <aside class="static-content">
              <h3>Version <small>1.2</smalL> </h3>
                <ul>
                  <li>xHabbo Framework</li>
                  <li>Node 9.X</li>
                </ul>
            </aside>
        </habbo-web-pages>
      </div>
    </section>
  </div>
</section>


<% include ../footer %>
