<% include ../header %>

<main class="wrapper wrapper--content">
    <section class="main" ui-view="">
        <h2>Privacy settings</h2>
        <% if (flash.message) { %>
          <p><%= flash.message %></p>
          <% } %>
        <habbo-privacy-settings-form>
          <form method="post" action="/settings" class="form form--left">
              <fieldset class="form__fieldset form__fieldset--box">
                  <h4>Security Settings</h4>
                  <div class="form__field">
                    <label>Old Password</label>
                    <input name="password_old" type="password" class="form__input">
                  </div>
                  <div class="form__field">
                    <label>New Password</label>
                    <input name="password_new" type="password" class="form__input">
                  </div>
              </fieldset>
              <div class="form__footer">
                <button type="submit" class="form__submit">Save</button>
              </div>
          </form>
        </habbo-privacy-settings-form>
    </section>

</main>


<% include ../footer %>
