<html>
  <head>
    <title> Maintenance Break </title>
    <link href="/css/app.css" rel="stylesheet">
    <link href="/css/override.css" rel="stylesheet">
  </head>
  <body>
    <div class="content">
      <habbo-header-small style="background:none;">
        <header class="header__wrapper wrapper">
          <a href="/" class="header__habbo__logo"><h1 class="header__habbo__name" id="ga-linkid-habbo">Habbo</h1></a>
        </header>
        <div class="wrapper"></div>
    </habbo-header-small>

<main class="wrapper wrapper--content not-found">
    <section class="not-found__content">
        <h3>Maintenance Break</h3>
        <div>Frank is working on fixing some bugs</a>
        </div>
    </section>
</main>
