<% include ../session/user/header %>
<main class="wrapper wrapper--content not-found">
    <section class="not-found__content">
        <h3>Store is closed</h3>
        <div>We are currently not selling any improved guest packages</div>
    </section>
</main>
<% include ../session/user/footer %>
