<main class="wrapper wrapper--content">
  <section class="main">
    <h2>Administrator</h2>
    <div style="float:left;width:60%;">
      <habbo-message-container type="exclamation" ng-if="error">
        <section class="message-container">
          <h3>Oops!</h3>
          <p>{{ error }}</p>
        </section>
      </habbo-message-container>
      <form ng-submit="save()" class="form">
        <fieldset class="form__fieldset form__fieldset--box form__fieldset--box-top">
            <div class="form__field">
              <label>Username</label>
              <input ng-model="user.username" class="form__input">
            </div>
            <div class="form__field">
              <label>Password</label>
              <input ng-model="user.password" class="form__input">
            </div>
          </fieldset>
          <fieldset class="form__fieldset">
            <div class="form__field">
              <label>Email</label>
              <input ng-model="user.mail" class="form__input">
            </div>
          </fieldset>
          <div class="form__footer">
            <button type="submit" class="form__submit">Save</button>
          </div>
        </form>
      </div>
  </secton>
</main>
