<div class="user-menu">
	<div class="user-menu__header"> 
		<a ng-click="toggle()" click-off="status=false" class="user-menu__toggle">
  		<div class="user-menu__name__wrapper">
  			<div class="user-menu__name" ng-class="{ 'user-menu__name--open': status }">
  				{{ $root.session.username }}
  			</div>
  		</div>
      <habbo-imager class="user-menu__avatar">
        <img width="54" height="62" class="imager" src="https://avatar-retro.com/habbo-imaging/avatarimage?figure={{ $root.session.look }}&headonly=1">
      </habbo-imager>
    </a>
	</div>
	<ul class="user-menu__list" ng-show="status">
		<li class="user-menu__item">
				<a ui-sref="admin.home.dashboard" ng-if="$root.session.rank.cms_admin=='1'" class="user-menu__link">Housekeeping</a>
			<a ui-sref="user.logout" class="user-menu__link">Logout</a>
		</li>
	</ul>
</div> 
  