<div class="wrapper wrapper--content">
  <habbo-registration-form>
    <p ng-bind="error.master"></p>
    <form ng-submit="join()" class="form" style="width:40%;">
      <fieldset class="form__fieldset">
        <label class="form__label">Username</label>
        <div class="form__field">
          <input ng-model="user.username" ng-change="check('username')" ng-class="{'ng-invalid' : errors.username}" class="form__input">
          <div class="form__popover form__popover--error" ng-show="errors.username" ng-bind="errors.username"></div>
        </div>
      </fieldset>
      <fieldset class="form__fieldset">
        <label class="form__label">Email</label>
        <p>You'll need to use this email address to login in the future. Please use a valid address</p>
        <div class="form__field">
          <input ng-model="user.email" ng-change="check('email')" ng-class="{'ng-invalid' : errors.email}" class="form__input">
          <div class="form__popover form__popover--error" ng-show="errors.email" ng-bind="errors.email"></div>
        </div>
      </fieldset>
      <fieldset class="form__fieldset form__fieldset--box form__fieldset--box-top">
        <label class="form__label">Password</label>
        <p>Use at least 6 characters. Include at least one letter and at least one number or special character.</p>
        <div class="form__field">
          <input ng-model="user.password" ng-change="check('password')" ng-class="{'ng-invalid' : errors.password}" type="password" class="form__input">
          <i class="password-toggle-mask__icon"></i>
          <div class="form__popover form__popover--error" ng-show="errors.password" ng-bind="errors.password"></div>
        </div>
      </fieldset>
      <fieldset class="form__fieldset form__fieldset--box form__fieldset--box-bottom">
        <label class="form__label">Repeat Password</label>
        <div class="form__field">
          <input ng-model="user.password_repeat" ng-change="check('password_repeat')" ng-class="{'ng-invalid' : errors.password_repeat} "type="password" class="form__input">
          <i class="password-toggle-mask__icon"></i>
          <div class="form__popover form__popover--error" ng-show="errors.password_repeat" ng-bind="errors.password_repeat"></div>
        </div>
      </fieldset>
      <div class="form__footer">
        <button ng-disabled="!errors" class="form__submit" type="submit">Finish</button>
      </div>
    </form>
  </habbo-registration-form>
</div>
