<div class="aurora-body">
    <div class="row">
        <div class="columns small-12">
            <h1>Website Management</h1>
        </div> 
    </div> 
    <div class="row">
        <div class="columns small-2">
            <nav class="SideNav settings-side-nav js-settings-side-nav"> 
                <ul class="List--noBullets">
                    <br> 
                    <li><b>Features</b></li>
                    <li><a ui-sref="admin.website.settings.view" ng-class="{'active': page.name.indexOf('admin.website.settings') > -1}" class="navLink">Website Settings</a></li>
                    <li><a ui-sref="admin.website.news.article.list" ng-class="{'active': page.name.indexOf('admin.website.news') > -1}" class="navLink">News Articles</a></li>
                    <li><a ui-sref="admin.website.store.product.list" ng-class="{'active': page.name.indexOf('admin.website.store') > -1}" class="navLink">Store Management</a></li> 
                </ul>  
            </nav>
        </div> 
        <div class="columns small-10 settings" ui-view></div>
    </div>

</div>