<habbo-client-error class="enable-flashplayer">
    <div class="client-error">
        <h1>Server Error</h1>
        <p>Something went wrong while processing this request. Please notify a member of the staff team.</p>
        <a ui-sref="user.home.me" class="hotel-button" id="ga-linkid-hotel" style="width:250px;">
            <span class="hotel-button__text" style="overflow:auto;">Go Home</span>
        </a>
        <p>Heroic Two by
            <a>LeChris</a>
        </p>
    </div>
</habbo-client-error>