</main></div><habbo-footer>
  <footer class="wrapper">
      <div class="footer__media">
          <p class="footer__media__label">Follow Habbo</p>
          <ul>
              <link>
              <li class="footer__media__item">
                <a class="footer__media__link"><i class="icon icon--facebook"></i></a>
              </li>
              <li class="footer__media__item">
                <a class="footer__media__link"><i class="icon icon--twitter"></i></a>
              </li>
              <li class="footer__media__item">
                <a class="footer__media__link"><i class="icon icon--youtube"></i></a>
              </li>
              <li class="footer__media__item">
                <a class="footer__media__link" ><i class="icon icon--rss"></i></a>
              </li>
          </ul>
      </div>
      <div class="footer__content">
          <ul class="footer__nav">
              <li class="footer__nav__item">
                <a href="/about" class="footer__nav__link">About CMS</a>
              </li>
          </ul>
          <p class="footer__copyright"> Powered by xHabbo Framework by LeChris <br> Built with Node.js</p>
          <a id="footer_logo"></a>
      </div>
  </footer>
</habbo-footer>
