<% include ../../../header %>

<main class="wrapper wrapper--content" ui-view="">
    <section>
        <h1>Room Not Found.</h1>
        <p>That room does not exist...</p>

<% include ../../../footer %>
