
<div ngsf-fullscreen="" habbo-client-close-fullscreen-on-hide="" class="client client--visible" style="">
    <div class="client__buttons">
      <button ng-click="ClientController.close()" habbo-client-close-expander="" class="client__close">
        <i class="client__close__icon icon icon--habbo"></i>
        <div habbo-client-close-expand="" class="client__close__expand" style="width: 0px;">
        <div class="client__close__text">Web</div></div>
      </button>

      <button ngsf-toggle-fullscreen="" class="client__fullscreen">
        <i show-if-fullscreen="false" class="client__fullscreen__icon icon icon--fullscreen"></i>
        <i show-if-fullscreen="" class="client__fullscreen__icon icon icon--fullscreen-back ng-hide"></i>
      </button>

    </div>
</div>
