<section ng-if="rank.users.length > 0" class="wrapper wrapper--content rooms-wrapper" style="float:left;">
    <div ng-repeat="user in rank.users">
        <article class="news-header news-header--column" style="height: 0px;margin-bottom: 0px;min-height: 0px;"></article>
        <article class="news-header news-header--column" style="height: 0px;margin-bottom: 0px;min-height: 0px;"></article>
        <article class="news-header news-header--column">
            <a class="news-header__link news-header__banner">
                <figure class="news-header__viewport" style="border-radius:50%">
                    <img src="/assets/img/staff.png" class="news-header__image news-header__image--thumbnail" style="opacity:.5;">
                    <div class="staff_avatar" style="background: url(https://avatar-retro.com/habbo-imaging/avatarimage?figure={{ user.look }}>&amp;direction=2&amp;head_direction=3&amp;gesture=sml&amp;size=l);height: 124px;width: 110px;top: 0px;z-index: 9000;position: absolute;background-position: -8px -17px;"></div>
                </figure>
            </a>
            <a href="/profile/{{ user.username }}" class="news-header__link news-header__wrapper">
                <h2 ng-bind="user.username" class="news-header__title"></h2>
                <img ng-if="user.online == '1'" src="/assets/img/online.gif">
                <img ng-if="user.online == '0'" src="/assets/img/offline.gif">
            </a>
        </article>
    </div>
</section>
<section ng-if="rank.users.length==0" class="not-found__content">
    <h3>Oh bobba! Rank is empty.</h3>
    It looks like this rank is empty! 
</section> 