<div class="header__content">
	<div class="register-banner__hotel"></div>
	<div class="register-banner__wrapper">
		<div class="register-banner__register">
			<h2 class="register-banner__title">Make friends and join {{ $root.website.online }} users currently online</h2>
			<a ui-sref="guest.register" class="register-banner__button">Join for free!</a>
		</div>
	</div>
</div>
<header class="header__wrapper wrapper">
	<a class="header__habbo__logo">
	<h1 class="header__habbo__name" id="ga-linkid-habbo-large">Habbo</h1></a>
</header>
