<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en_US" lang="en_US">

<head>
    <base href="/">
    <title>{{ website.name }} - {{ page }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" type="text/css" href="/assets/css/app.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/override.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css" />
</head>

<body class="app">
  <div class="content">
    <heroic-header ng-hide="$root.currentUser == undefined"></heroic-header>
      <main ui-view></main>
  </div>
  <footer class="wrapper">
      <div class="footer__media">
          <p class="footer__media__label">Follow Habbo</p>
          <ul>
              <link>
              <li class="footer__media__item">
                  <a class="footer__media__link"><i class="icon icon--facebook"></i></a>
              </li>
              <li class="footer__media__item">
                  <a class="footer__media__link"><i class="icon icon--twitter"></i></a>
              </li>
              <li class="footer__media__item">
                  <a class="footer__media__link"><i class="icon icon--youtube"></i></a>
              </li>
              <li class="footer__media__item">
                  <a class="footer__media__link"><i class="icon icon--rss"></i></a>
              </li>
          </ul>
      </div>
      <div class="footer__content">
          <ul class="footer__nav">
              <li class="footer__nav__item">
                  <a sref="me.about" class="footer__nav__link">About CMS</a>
              </li>
          </ul>
          <p class="footer__copyright"> Powered by Heroic Framework by LeChris <br> Built with Node and Angular <br> Shout out to Bill</p>
          <a id="footer_logo"></a>
      </div>
  </footer>
    <script type="text/javascript" src="/assets/js/vendor.js"></script>
    <script type="text/javascript" src="/assets/js/habbo-api.js"></script>
</body>

</html>
